# Dependencies & Build artifacts
node_modules/
**/node_modules/
build/
**/build/
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
android/.gradle/
**/android/.gradle/
android/.kotlin/
**/android/.kotlin/
*.apk
*.aab

# IDE & System
.idea/
**/.idea/
.vscode/
**/.vscode/
*.iml
**/*.iml
.DS_Store
Thumbs.db
